<div class="center">
    <div class="form" >
        <h2>Sửa thông tin sản phẩm</h2>
        <form  action="">
            <input  matInput placeholder="name" style="border: solid 0.5px black;" >
            <input  matInput placeholder="photo" style="border: solid 0.5px black;">
            <input  matInput placeholder="price" style="border: solid 0.5px black;" >
            <input  matInput placeholder="id" style="border: solid 0.5px black;" >
            <input  matInput placeholder="collection" style="border: solid 0.5px black;" >
        </form>
    
    <button style="float: right;" mat-raised-button > Cập nhật </button>
    </div>
    </div>
